# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Build Artifacts
.vercel
/.next/
/out/
/build
/dist/

# Testing & Coverage
/coverage
*storybook.log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Credentials & Environment Variables
*.pem
.env
.env*.local
.dev.vars
*.pem
.certificates
certificates

# Deployment
.cloudflare
.wrangler
*.secret.toml
.worker-next
.open-next

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Caching
.cache/
.eslintcache

# Editors & IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Operating Systems & Miscellaneous
.DS_Store
Thumbs.db
.localized
*.swp
*~
