/* TODO: Clean this file up */
@import 'tailwindcss';

@custom-variant dark (&:not(.light *, .light):where(.dark *));

@theme {
  --color-opsis-action-primary: var(--action-primary-default);
  --color-opsis-action-primary-hover: var(--action-primary-hover);
  --color-opsis-action-primary-pressed: var(--action-primary-pressed);

  --color-opsis-action-primary-contrast: var(--action-primary-contrast-default);
  --color-opsis-action-primary-contrast-hover: var(
    --action-primary-contrast-hover
  );
  --color-opsis-action-primary-contrast-pressed: var(
    --action-primary-contrast-pressed
  );

  --color-opsis-action-secondary: var(--action-secondary-default);
  --color-opsis-action-secondary-hover: var(--action-secondary-hover);
  --color-opsis-action-secondary-pressed: var(--action-secondary-pressed);

  --color-opsis-action-ghost: var(--action-ghost-default);
  --color-opsis-action-ghost-hover: var(--action-ghost-hover);
  --color-opsis-action-ghost-pressed: var(--action-ghost-pressed);

  --color-opsis-action-destructive: var(--action-destructive-default);
  --color-opsis-action-destructive-hover: var(--action-destructive-hover);
  --color-opsis-action-destructive-pressed: var(--action-destructive-pressed);

  --color-opsis-action-general-light: var(--action-general-light);
  --color-opsis-action-general-dark: var(--action-general-dark);
  --color-opsis-action-general-grey: var(--action-general-grey);
  --color-opsis-action-general-disabled: var(--action-general-disabled);

  --color-opsis-action-general-contrast-light: var(
    --action-general-contrast-light
  );
  --color-opsis-action-general-contrast-dark: var(
    --action-general-contrast-dark
  );

  --color-opsis-content-primary: var(--content-primary);
  --color-opsis-content-secondary: var(--content-secondary);
  --color-opsis-content-tetriary: var(--content-tetriary);
  --color-opsis-content-placeholder: var(--content-placeholder);
  --color-opsis-content-disabled: var(--content-disabled);

  --color-opsis-background-primary: var(--background-primary);
  --color-opsis-background-secondary: var(--background-secondary);
  --color-opsis-background-tetriary: var(--background-tetriary);
  --color-opsis-background-overlay: var(--background-overlay);
  --color-opsis-background-quartary: var(--background-quartary);

  --color-opsis-background-subtle-primary: var(--background-subtle-primary);

  --color-opsis-border-primary: var(--border-primary);
  --color-opsis-border-secondary: var(--border-secondary);
  --color-opsis-border-contrast: var(--border-contrast);
  --color-opsis-border-tetriary: var(--border-tetriary);

  --color-opsis-link-primary: var(--link-primary-default);
  --color-opsis-link-primary-hover: var(--link-primary-hover);
  --color-opsis-link-primary-pressed: var(--link-primary-pressed);

  --color-opsis-link-primary-contrast: var(--link-primary-contrast-default);
  --color-opsis-link-primary-contrast-hover: var(--link-primary-contrast-hover);
  --color-opsis-link-primary-contrast-pressed: var(
    --link-primary-contrast-pressed
  );
  --color-opsis-link-primary-contrast-disabled: var(
    --link-primary-contrast-disabled
  );

  --color-opsis-link-primary-disabled: var(--link-primary-disabled);

  --color-opsis-effects-shadow: var(--effects-shadow-default);
  --color-opsis-effects-shadow-strong: var(--effects-shadow-strong);

  --color-opsis-effects-shadow-subtle-dark: var(--effects-shadow-subtle-dark);

  --color-opsis-effects-shadow-default-dark: var(--effects-shadow-default-dark);

  --color-opsis-badge-success-foreground: var(--badge-success-foreground);
  --color-opsis-badge-success-background: var(--badge-success-background);

  --color-opsis-badge-danger-foreground: var(--badge-danger-foreground);
  --color-opsis-badge-danger-background: var(--badge-danger-background);

  --color-opsis-badge-warning-foreground: var(--badge-warning-foreground);
  --color-opsis-badge-warning-background: var(--badge-warning-background);

  --color-opsis-badge-info-foreground: var(--badge-info-foreground);
  --color-opsis-badge-info-background: var(--badge-info-background);

  --color-white: #ffffff;
  --color-light: #ffffff;
  --color-light-1: #f6f6f6;
  --color-light-2: #eeeeee;
  --color-light-3: #e5e5e5;
  --color-light-4: #dddddd;
  --color-light-5: #d4d4d4;
  --color-light-6: #cccccc;
  --color-black: #000000;
  --color-dark: #111111;
  --color-dark-1: #191919;
  --color-dark-2: #222222;
  --color-dark-3: #2a2a2a;
  --color-dark-4: #333333;
  --color-dark-5: #3b3b3b;
  --color-dark-6: #444444;
  --color-neutral-6: #4c4c4c;
  --color-neutral-5: #565656;
  --color-neutral-4: #606060;
  --color-neutral-3: #6a6a6a;
  --color-neutral-2: #747474;
  --color-neutral-1: #7e7e7e;
  --color-neutral: #888888;
  --color-blue: #0171e3;

  --color-theme-light-primary: #007aff;
  --color-theme-light-primary-hover: #0066d5;
  --color-theme-light-primary-active: #3294ff;
  --color-theme-light-primary-disabled: #888888;

  --color-theme-dark-primary: #007aff;
  --color-theme-dark-primary-hover: #3294ff;
  --color-theme-dark-primary-active: #0066d5;
  --color-theme-dark-primary-disabled: #747474;

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --shadow-focus: 0 0 0 2px #007aff, 0 0 0 1px #ffffff;
  --shadow-01: 0 1px 2px 0 var(--effects-shadow-subtle-dark);
  --shadow-02: 0 1px 4px 0 var(--effects-shadow-default);
  --shadow-03: 0 1px 12px 0 var(--effects-shadow-default);
  --shadow-04: 0 6px 16px 0 var(--effects-shadow-default-dark);
  --shadow-05: 0 2px 12px 0 var(--effects-shadow-subtle-dark);

  --text-base: 16px, 24px;
  --text-ss: 13px;

  --spacing-phi: var(--phi);
  --spacing-phi-base-0_5: calc(var(--phi) * 0.5);
  --spacing-phi-base-0_75: calc(var(--phi) * 0.75);
  --spacing-phi-base-1_5: calc(var(--phi) * 1.5);
  --spacing-phi-base-2: calc(var(--phi) * 2);
  --spacing-phi-base-2_5: calc(var(--phi) * 2.5);
  --spacing-phi-base-3: calc(var(--phi) * 3);
  --spacing-phi-base-3_5: calc(var(--phi) * 3.5);
  --spacing-phi-base-4: calc(var(--phi) * 4);
  --spacing-phi-base-4_5: calc(var(--phi) * 4.5);
  --spacing-phi-base-5: calc(var(--phi) * 5);
  --spacing-phi-base-5_5: calc(var(--phi) * 5.5);
  --spacing-phi-base-6: calc(var(--phi) * 6);
  --spacing-phi-base-6_5: calc(var(--phi) * 6.5);
  --spacing-phi-base-7: calc(var(--phi) * 7);
  --spacing-phi-base-7_5: calc(var(--phi) * 7.5);
  --spacing-phi-base-8: calc(var(--phi) * 8);
  --spacing-phi-base-8_5: calc(var(--phi) * 8.5);
  --spacing-phi-base-9: calc(var(--phi) * 9);
  --spacing-phi-base-9_5: calc(var(--phi) * 9.5);
  --spacing-phi-base-10: calc(var(--phi) * 10);
  --spacing-phi-2: calc(var(--phi) * 1.618);
  --spacing-phi-3: calc(var(--phi) * pow(1.618, 2));
  --spacing-phi-4: calc(var(--phi) * pow(1.618, 3));
  --spacing-phi-5: calc(var(--phi) * pow(1.618, 4));
  --spacing-phi-6: calc(var(--phi) * pow(1.618, 5));
  --spacing-phi-7: calc(var(--phi) * pow(1.618, 6));
  --spacing-phi-8: calc(var(--phi) * pow(1.618, 7));
  --spacing-phi-9: calc(var(--phi) * pow(1.618, 8));
  --spacing-phi-10: calc(var(--phi) * pow(1.618, 9));

  --background-image-logo-light: url(/images/logo/phi-with-wordmark.svg);
  --background-image-logo-dark: url(/images/logo/phi-with-wordmark-inverted.svg);

  --blur-gradient-bg: 150px;

  --radius-none: var(--border-radius-none);
  --radius-extra-small: var(--border-radius-extra-small);
  --radius-small: var(--border-radius-small);
  --radius-medium: var(--border-radius-medium);
  --radius-large: var(--border-radius-large);
  --radius-extra-large: var(--border-radius-extra-large);
  --radius-full: var(--border-radius-full);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-sans:
    var(--font-inter), system-ui, Arial, sans-serif, ui-sans-serif, system-ui,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-sans-title:
    var(--font-inter-display), system-ui, Arial, sans-serif, ui-sans-serif,
    system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-blink-once: blinkOnce 500ms linear;
  --animate-blink: blink 1.3s ease-in-out infinite;
  --animate-shimmer: shimmer 5s infinite;

  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-soft-out-expo: cubic-bezier(0.25, 0, 0, 1);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes blinkOnce {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
    70%,
    100% {
      opacity: 1;
    }
  }
  @keyframes shimmer {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(75%);
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 100%) {
    max-width: 100%;
  }
  @media (width >= 100%) {
    max-width: 100%;
  }
  @media (width >= 980px) {
    max-width: 980px;
  }
  @media (width >= 980px) {
    max-width: 980px;
  }
  @media (width >= 980px) {
    max-width: 980px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
    --success: 129 100% 30%;

    /* Spacing */
    --phi: 1.618rem;
  }

  .dark :not(:where(.light *, .light)) {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --success: 129 100% 48%;
  }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            'rlig' 1,
            'calt' 1;
    }

    .custom-scroll {
        scrollbar-width: thin;
        scrollbar-color: theme('colors.dark-4/50');
        scrollbar-gutter: stable both-edges;
        @apply my-1.5 mr-1;
    }

    .custom-scroll::-webkit-scrollbar {
        @apply w-2;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        @apply rounded-full border-2 border-transparent bg-dark-4/50 bg-clip-content transition-opacity duration-300 ease-out hover:bg-dark-4/65 dark:bg-neutral-6/60 dark:hover:bg-neutral-6/75;
    }

    .custom-scroll::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
}

/* Primary */
.primary {
    @apply text-theme-light-primary transition-colors dark:text-theme-dark-primary;
}

.primary:hover {
    @apply text-theme-light-primary-hover dark:text-theme-dark-primary-hover;
}

.primary:active {
    @apply text-theme-light-primary-active dark:text-theme-dark-primary-active;
}

.primary:disabled {
    @apply cursor-not-allowed text-theme-light-primary-disabled dark:text-theme-dark-primary-disabled;
}

/* Neutral */
.neutral {
    /* @apply text-neutral-3 dark:text-neutral+3; */
}
