/* Foundation Tokens */
@theme {
    /* Constants */
    --phi: 1.618rem;

    /* Fonts */
    --font-sans: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

    /* Heading Font Sizes */
    --font-size-h1: 24px;
    --font-size-h2: 20px;
    --font-size-h3: 16px;
    --font-size-h4: 14px;
    --font-size-h5: 12px;
    --font-size-h6: 10px;

    /* Light Scale (Transparent Whites, Opacity 0 to 1) */
    --color-light-0: rgba(255 255 255 / 0);
    --color-light-10: rgba(255 255 255 / 0.01);
    --color-light-20: rgba(255 255 255 / 0.02);
    --color-light-30: rgba(255 255 255 / 0.03);
    --color-light-40: rgba(255 255 255 / 0.04);
    --color-light-50: rgba(255 255 255 / 0.05);
    --color-light-100: rgba(255 255 255 / 0.1);
    --color-light-150: rgba(255 255 255 / 0.15);
    --color-light-200: rgba(255 255 255 / 0.2);
    --color-light-250: rgba(255 255 255 / 0.25);
    --color-light-300: rgba(255 255 255 / 0.3);
    --color-light-350: rgba(255 255 255 / 0.35);
    --color-light-400: rgba(255 255 255 / 0.4);
    --color-light-450: rgba(255 255 255 / 0.45);
    --color-light-500: rgba(255 255 255 / 0.5);
    --color-light-550: rgba(255 255 255 / 0.55);
    --color-light-600: rgba(255 255 255 / 0.6);
    --color-light-650: rgba(255 255 255 / 0.65);
    --color-light-700: rgba(255 255 255 / 0.7);
    --color-light-750: rgba(255 255 255 / 0.75);
    --color-light-800: rgba(255 255 255 / 0.8);
    --color-light-850: rgba(255 255 255 / 0.85);
    --color-light-900: rgba(255 255 255 / 0.9);
    --color-light-950: rgba(255 255 255 / 0.95);
    --color-light-960: rgba(255 255 255 / 0.96);
    --color-light-970: rgba(255 255 255 / 0.97);
    --color-light-980: rgba(255 255 255 / 0.98);
    --color-light-990: rgba(255 255 255 / 0.99);
    --color-light-1000: #ffffff;

    /* Dark Scale (Transparent Blacks, Opacity 0 to 1) */
    --color-dark-0: rgba(0 0 0 / 0);
    --color-dark-10: rgba(0 0 0 / 0.01);
    --color-dark-20: rgba(0 0 0 / 0.02);
    --color-dark-30: rgba(0 0 0 / 0.03);
    --color-dark-40: rgba(0 0 0 / 0.04);
    --color-dark-50: rgba(0 0 0 / 0.05);
    --color-dark-100: rgba(0 0 0 / 0.1);
    --color-dark-150: rgba(0 0 0 / 0.15);
    --color-dark-200: rgba(0 0 0 / 0.2);
    --color-dark-250: rgba(0 0 0 / 0.25);
    --color-dark-300: rgba(0 0 0 / 0.3);
    --color-dark-350: rgba(0 0 0 / 0.35);
    --color-dark-400: rgba(0 0 0 / 0.4);
    --color-dark-450: rgba(0 0 0 / 0.45);
    --color-dark-500: rgba(0 0 0 / 0.5);
    --color-dark-550: rgba(0 0 0 / 0.55);
    --color-dark-600: rgba(0 0 0 / 0.6);
    --color-dark-650: rgba(0 0 0 / 0.65);
    --color-dark-700: rgba(0 0 0 / 0.7);
    --color-dark-750: rgba(0 0 0 / 0.75);
    --color-dark-800: rgba(0 0 0 / 0.8);
    --color-dark-850: rgba(0 0 0 / 0.85);
    --color-dark-900: rgba(0 0 0 / 0.9);
    --color-dark-950: rgba(0 0 0 / 0.95);
    --color-dark-960: rgba(0 0 0 / 0.96);
    --color-dark-970: rgba(0 0 0 / 0.97);
    --color-dark-980: rgba(0 0 0 / 0.98);
    --color-dark-990: rgba(0 0 0 / 0.99);
    --color-dark-1000: #000000;

    /* Black Scale (Lightest to Darkest) */
    --color-black-0: #505050;
    --color-black-50: #4c4c4c;
    --color-black-100: #484848;
    --color-black-150: #444444;
    --color-black-200: #404040;
    --color-black-250: #3c3c3c;
    --color-black-300: #383838;
    --color-black-350: #343434;
    --color-black-400: #303030;
    --color-black-450: #2c2c2c;
    --color-black-500: #282828;
    --color-black-550: #242424;
    --color-black-600: #202020;
    --color-black-650: #1c1c1c;
    --color-black-700: #181818;
    --color-black-750: #141414;
    --color-black-800: #101010;
    --color-black-850: #0c0c0c;
    --color-black-900: #080808;
    --color-black-950: #040404;
    --color-black-1000: #000000;

    /* Gray Scale (Lightest to Darkest) */
    --color-gray-0: #a7a7a7;
    --color-gray-50: #a3a3a3;
    --color-gray-100: #9f9f9f;
    --color-gray-150: #9b9b9b;
    --color-gray-200: #979797;
    --color-gray-250: #939393;
    --color-gray-300: #8f8f8f;
    --color-gray-350: #8b8b8b;
    --color-gray-400: #878787;
    --color-gray-450: #838383;
    --color-gray-500: #808080;
    --color-gray-550: #7c7c7c;
    --color-gray-600: #787878;
    --color-gray-650: #747474;
    --color-gray-700: #707070;
    --color-gray-750: #6c6c6c;
    --color-gray-800: #686868;
    --color-gray-850: #646464;
    --color-gray-900: #606060;
    --color-gray-950: #5c5c5c;
    --color-gray-1000: #585858;

    /* White Scale (Darkest to Lightest) */
    --color-white-0: #afafaf;
    --color-white-50: #b3b3b3;
    --color-white-100: #b7b7b7;
    --color-white-150: #bbbbbb;
    --color-white-200: #bfbfbf;
    --color-white-250: #c3c3c3;
    --color-white-300: #c7c7c7;
    --color-white-350: #cbcbcb;
    --color-white-400: #cfcfcf;
    --color-white-450: #d3d3d3;
    --color-white-500: #d7d7d7;
    --color-white-550: #dbdbdb;
    --color-white-600: #dfdfdf;
    --color-white-650: #e3e3e3;
    --color-white-700: #e7e7e7;
    --color-white-750: #ebebeb;
    --color-white-800: #efefef;
    --color-white-850: #f3f3f3;
    --color-white-900: #f7f7f7;
    --color-white-950: #fbfbfb;
    --color-white-1000: #ffffff;
}

/* Variant Tokens */
:root {
    /* --- Backgrounds --- */
    --background--a: light-dark(var(--color-white-1000), var(--color-black-700));
    --background--b: light-dark(var(--color-white-900), var(--color-black-500));
    --background--c: light-dark(var(--color-white-1000), var(--color-black-600));
    --background--d: light-dark(var(--color-white-800), var(--color-black-400));
    --background--e: light-dark(var(--color-white-950), var(--color-black-650));
    --background--f: light-dark(var(--color-white-1000), var(--color-black-500));
    --background--backdrop: light-dark(var(--color-dark-400), var(--color-dark-600));
    --background--positive: light-dark(var(--color-green-600), var(--color-green-400));
    --background--warning: light-dark(var(--color-orange-600), var(--color-orange-400));
    --background--negative: light-dark(var(--color-red-600), var(--color-red-400));
    --background--informative: light-dark(var(--color-blue-600), var(--color-blue-400));

    /* --- Foregrounds --- */
    --foreground--a: light-dark(var(--color-black-700), var(--color-white-700));
    --foreground--b: light-dark(var(--color-gray-800), var(--color-gray-50));
    --foreground--c: light-dark(var(--color-gray-600), var(--color-gray-400));
    --foreground--disabled: var(--color-gray-300);
    --foreground--placeholder: var(--color-gray-500);
    --foreground--positive: light-dark(var(--color-green-600), var(--color-green-500));
    --foreground--warning: light-dark(var(--color-orange-600), var(--color-orange-500));
    --foreground--negative: light-dark(var(--color-red-600), var(--color-red-500));
    --foreground--informative: light-dark(var(--color-blue-600), var(--color-blue-500));

    /* --- Borders --- */
    --border--a: light-dark(var(--color-white-700), var(--color-black-300));
    --border--b: light-dark(var(--color-white-850), var(--color-black-500));
    --border--c: light-dark(var(--color-white-500), var(--color-black-100));
    --border--d: light-dark(var(--color-white-600), var(--color-black-450));
    --border--focus: light-dark(var(--color-blue-600), var(--color-blue-400));
    --border--positive: light-dark(var(--color-green-600), var(--color-green-500));
    --border--warning: light-dark(var(--color-orange-600), var(--color-orange-500));
    --border--negative: light-dark(var(--color-red-600), var(--color-red-500));
    --border--informative: light-dark(var(--color-blue-600), var(--color-blue-500));

    /* --- Links --- */

    /* Link - A (Primary) */
    --link--a: light-dark(var(--color-black-800), var(--color-white-1000));
    --link--a-hover: light-dark(var(--color-black-100), var(--color-white-400));
    --link--a-pressed: light-dark(var(--color-black-700), var(--color-white-900));
    --link--a-disabled: var(--color-gray-300);

    /* Link - B (Secondary) */
    --link--b: light-dark(var(--color-gray-800), var(--color-gray-200));
    --link--b-hover: light-dark(var(--color-gray-550), var(--color-gray-50));
    --link--b-pressed: light-dark(var(--color-gray-900), var(--color-gray-300));

    /* Link - C */
    --link--c: light-dark(var(--color-gray-600), var(--color-gray-400));
    --link--c-hover: light-dark(var(--color-gray-400), var(--color-gray-300));
    --link--c-pressed: light-dark(var(--color-gray-800), var(--color-gray-500));
}
